
body {
  margin: 0;
    box-sizing: border-box;
}

/* Disable ugly boxes around images in IE10 */
a img{
  border: 0px;
}

::-moz-selection {
  background-color: #6ab344;
  color: #fff;
}

::selection {
  background-color: #6ab344;
  color: #fff;
}

.samip-header {
  overflow: visible;
  background-color: white;
}

  .samip-header .material-icons {
    color: #767777 !important;
  }

  .samip-header .mdl-layout__drawer-button {
    background: transparent;
    color: #767777;
  }

  .samip-header .mdl-navigation__link {
    color: #757575;
    font-weight: 700;
    font-size: 14px;
  }

  .samip-navigation-container {
    /* Simple hack to make the overflow happen to the left instead... */
    direction: rtl;
    -webkit-order: 1;
    -ms-flex-order: 1;
    order: 1;
    width: 500px;
    transition: opacity 0.2s cubic-bezier(0.4, 0, 0.2, 1),
        width 0.2s cubic-bezier(0.4, 0, 0.2, 1);
  }

  .samip-navigation {
    /* ... and now make sure the content is actually LTR */
    direction: ltr;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    width: 800px;
  }

  .samip-search-box.is-focused + .samip-navigation-container {
    opacity: 0;
    width: 100px;
  }


  .samip-navigation .mdl-navigation__link {
    display: inline-block;
    height: 60px;
    line-height: 68px;
    background-color: transparent !important;
    border-bottom: 4px solid transparent;
  }

    .samip-navigation .mdl-navigation__link:hover {
      /*border-bottom: 4px solid #8bc34a;*/
      border-bottom: 4px solid #22A39F;
    }

  .samip-search-box {
    -webkit-order: 2;
        -ms-flex-order: 2;
            order: 2;
    margin-left: 16px;
    margin-right: 16px;
  }

  .samip-more-button {
    -webkit-order: 3;
        -ms-flex-order: 3;
            order: 3;
  }




.logo-font {
  font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
  line-height: 2;
  color: rgb(255, 255, 255);
  font-weight: 500;
}

.samip-slogan {
  font-size: 90px;
  padding-top: 160px;
}

.samip-sub-slogan {
  font-size: 35px;
  margin-top: -15px;
}

.samip-create-character {
  font-size: 21px;
  padding-top: 400px;
}

.samip-create-character a {
    text-decoration: none;
    color: #767777;
    font-weight: 300;
}

.samip-screen-section {
    position: relative;
    padding-top: 60px;
    padding-bottom: 80px;
}

.samip-auto {
  display: inline-block;
  width: 300px;
  overflow: hidden;
}

.samip-auto .samip-screen-image {
  display: block;
  height: 300px;
  z-index: 1;
}

.samip-link {
  text-decoration: none;
  color: #8bc34a !important;
}

.samip-link:hover {
    color: #7cb342 !important;
}

.samip-link .material-icons {
    position: relative;
    top: -1px;
    vertical-align: middle;
}

.samip-alt-link {
  text-decoration: none;
  color: #64ffda !important;
  font-size: 16px;
}

.samip-alt-link:hover {
    color: #00bfa5 !important;
}

.samip-alt-link .material-icons {
    position: relative;
    top: 6px;
}

.samip-customized-section {
  text-align: center;
}

.samip-customized-section-text {
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
  padding: 80px 16px 0 16px;
}

  .samip-customized-section-text p {
    padding-top: 16px;
  }

/*.samip-customized-section-image {*/
  /*background: url('images/devices.jpg') center top no-repeat;*/
  /*background-size: cover;*/
  /*height: 400px;*/
/*}*/

.samip-more-section {
  padding: 80px 0;
  max-width: 1044px;
  margin-left: auto;
  margin-right: auto;
}

  .samip-more-section .samip-section-title {
    margin-left: 12px;
    padding-bottom: 24px;
  }


  .samip-card-container .mdl-card__media {
    overflow: hidden;
    background: transparent;
  }

    .samip-card-container .mdl-card__media img {
      width: 100%;
    }

  .samip-card-container .mdl-card__title {
    background: transparent;
    height: auto;
  }

  .samip-card-container .mdl-card__title-text {
    color: black;
    height: auto;
  }

  .samip-card-container .mdl-card__supporting-text {
    height: auto;
    color: black;
    padding-bottom: 56px;
  }

  .samip-card-container .mdl-card__actions {
    position: absolute;
    bottom: 0;
  }

  .samip-card-container .mdl-card__actions a {
    border-top: none;
    font-size: 16px;
  }

.samip-footer {
  background-color: #fafafa;
  position: relative;
}

  .samip-footer a:hover {
    color: #8bc34a;
  }

  .samip-footer .mdl-mega-footer--top-section::after {
    border-bottom: none;
  }

  .samip-footer .mdl-mega-footer--middle-section::after {
    border-bottom: none;
  }

  .samip-footer .mdl-mega-footer--bottom-section {
    position: relative;
  }

  .samip-footer .mdl-mega-footer--bottom-section a {
    margin-right: 2em;
  }

  .samip-footer .mdl-mega-footer--right-section a .material-icons {
    position: relative;
    top: 6px;
  }

.samip-link-menu:hover {
  cursor: pointer;
}


/*** Unmobile specific layout **/
@media (min-width: 900px) {
    .material-icons {
        display: none;
    }


    .centered-body {
        /*display: flex;*/
        /*flex-flow: row wrap;*/

        width: 65em;
        margin: 0 auto;
    }


    .samip-be-together-section {
        position: relative;
        min-height: 800px;
        width: auto;
        background-color: #f3f3f3;
        background: url('./images/trees.JPG') center 30% no-repeat;
        background-size: cover;
    }

    .experience-title span:last-child {
        padding-left:25px;
    }

    .blog-title{
        padding-left: 25px;
    }

    .blog-container {
        display: flex;
        flex-flow: row wrap;
        align-items: center;
        margin-bottom: 24px;
    }

    .about-description-photo-container {
        display:flex;
        flex-flow:row;
    }

    .samip-picture-container {
        width:300px;
        height: 300px;
        padding-left: 10px;
    }

    .samip-picture-container img {
        max-width: 100%;
        max-height: 100%;
    }


}

/**** Mobile layout ****/
@media (max-width: 900px) {

    .about-description-photo-container {
        display:flex;
        flex-flow:column;
    }

    .samip-navigation-container {
        display: none;
      }

      .samip-title {
        display: none !important;
      }

    .centered-body {
        margin:0 15px;
    }

    .samip-be-together-section {
        position: relative;
        min-height: 600px;
        width: auto;
        background-color: #f3f3f3;
        background: url('./images/trees.JPG') center 30% no-repeat;
        background-size: cover;
    }


    .experience-title {
        display: flex;
        flex-flow: column;
    }

    .experience-title span:last-child{
        padding-left:0px;
    }

    .blog-container {
        display: flex;
        flex-flow: column-reverse;
        margin-bottom: 24px;
    }
    .blog-title{
        padding-left: 0;
    }



  /* WebViews in iOS 9 break the "~" operator, and WebViews in OS X 10.10 break
     consecutive "+" operators in some cases. Therefore, we need to use both
     here to cover all the bases. */
  .samip.samip-search-box.is-focused ~ .samip-mobile-title,
  .samip-search-box.is-focused + .samip-navigation-container + .samip-mobile-title {
    opacity: 0;
  }

  .samip-search-box.is-focused {
    width: calc(100% - 48px);
  }

  .samip-search-box .mdl-textfield__expandable-holder {
    width: 100%;
  }

  .samip-be-together-section {
    height: 350px;
  }

  .samip-slogan {
    font-size: 36px;
    margin: 0 16px;
    padding-top: 160px;
  }

  .samip-sub-slogan {
    font-size: 18px;
    margin: 0 16px;
    padding-top: 0;
  }

  .samip-create-character {
    padding-top: 200px;
    font-size: 16px;
  }

  .samip-create-character img {
    height: 12px;
  }

  .samip-footer .mdl-mega-footer--bottom-section {
    display: none;
  }

    .samip-picture-container {
        width:300px;
        height: 300px;
        padding-bottom: 15px;
    }

    .samip-picture-container img {
        max-width: 100%;
        max-height: 100%;
    }
}

.about-header {
    margin-bottom: 24px;
    font-weight: 500;
    border-bottom: 1px solid #dededc;
    font-size: 34px;
    line-height: 40px;
    color: #22A39F;
}

.about-section{
    display:flex;
    flex-flow:column;
    align-items: stretch;
}





.description-container p {
    font-size:18px;
}

.experience-item {
    padding-bottom: 20px;
}
.experience-title {
    padding-bottom: 8px;
    line-height: 24px;
    font-size: 18px;
}

.experience-title span:first-child{
    font-weight: 700;
}

.experience-title span:last-child{
    font-weight: 400;
}

.experience-role {
    font-size:17px;
    padding-bottom: 10px;
}

.experience-description {
    font-size:17px;
}

.collection-content {
    display:flex;
    flex-flow:row;
}

.collection-description-container {
    display: flex;
    flex-flow: row wrap;
    padding-left: 150px;
    padding-right: 45px;
}

.collection-description-container p {
    font-size:18px;
}



.blog-title{
    font-weight: 500;
    font-size: 30px;
    line-height: 40px;
    color: #22A39F;
}

.blog-date {
    font-weight: 400;
    font-size: 22px;
    color: #898989;
}
/**
override a
 */
.blog-title a {
    color: #22A39F;;
    font-weight: 400;
    text-decoration: none;
}
.blog-title a:hover {
    text-decoration: underline;
}

